/emacs-redux/.emacs.d/.cache/
/emacs-redux/.emacs.d/url/
/emacs-redux/.emacs.d/elpa/gnupg/
/emacs-redux/.gnupg/

# emacs: compiled elisp files
/emacs-redux/.emacs.d/elpa/**/*.elc

# emacs: package manager files
/emacs-redux/.emacs.d/elpa/*.txt
/emacs-redux/.emacs.d/elpa/*/archive-contents

# emacs: history files
/emacs-redux/.emacs.d/.org-id-locations
/emacs-redux/.emacs.d/auto-save-list/
/emacs-redux/.emacs.d/backups/
/emacs-redux/.emacs.d/bookmarks
/emacs-redux/.emacs.d/projectile-bookmarks.eld
/emacs-redux/.emacs.d/recentf*
/emacs-redux/.emacs.d/\#recentf\#
/emacs-redux/.emacs.d/tramp
/emacs-redux/.emacs.d/transient/

