/emacs-redux/.emacs.d/.cache/
/emacs-redux/.emacs.d/url/
/emacs-redux/.emacs.d/eshell/
/emacs-redux/.emacs.d/elpa/gnupg/
/emacs-redux/.gnupg/

# emacs: compiled elisp files
/emacs-redux/.emacs.d/elpa/**/*.elc

# emacs: sqlite binary (needed for org-roam).
#
# Note:
#
# I need to manually compile this binary whenever I'm setting up a new
# machine, by going into the
# `emacs-redux/.emacs.d/elpa/emacsql-sqlite-20230225.2205/sqlite`
# directory and running `make`.
#
# I don't why the `emacsql-sqlite' package can't just use the
# system-wide `sqlite3` binary, but whatever.
/emacs-redux/.emacs.d/elpa/emacsql-sqlite-20230225.2205/sqlite/emacsql-sqlite

# emacs: package lists and descriptions
/emacs-redux/.emacs.d/elpa/archives/
/emacs-redux/.emacs.d/elpa/*.txt

# emacs: history files
/emacs-redux/.emacs.d/.org-id-locations
/emacs-redux/.emacs.d/auto-save-list/
/emacs-redux/.emacs.d/backups/
/emacs-redux/.emacs.d/bookmarks
/emacs-redux/.emacs.d/history
/emacs-redux/.emacs.d/projectile-bookmarks.eld
/emacs-redux/.emacs.d/recentf*
/emacs-redux/.emacs.d/\#recentf\#
/emacs-redux/.emacs.d/tramp
/emacs-redux/.emacs.d/transient/

# emacs: vterm build artifacts
/emacs-redux/.emacs.d/elpa/vterm-20210326.1458/build/
/emacs-redux/.emacs.d/elpa/vterm-20210326.1458/vterm-module.so
